---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
NamespaceIndentation: None
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<(SDL|entt|spdlog|nlohmann|fmt|imgui)'
    Priority: 2
  - Regex: '^<'
    Priority: 3
SortIncludes: CaseSensitive
